<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Test</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="This is ...">
  <link rel="shortcut icon" href="favicon.ico"> 
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
  <div style="float:left;width:33%;">
    <div class="widget">
      <div class="widgetTitle">
        <div class="widgetLabel">
          Hallo1
        </div>
      </div>
      <div class="widgetBody">
        Der Inhalt...
      </div>
    </div>
  </div>
  <div style="float:left;width:33%;">
    Hallo2
  </div>
  <div style="float:left;width:33%;">
    Hallo3
  </div>
  <div style="clear:both;height:0px;overflow:hissen;"></div>
</body>
</html>