body {
  font-family: Arial,Verdana,Arial,Helvetica,sans-serif;
  font-size: 12pt;
  color: #444;
  padding: 2pt;
}

.tabs {
  padding-top: 4pt;
  padding-bottom: 4pt;
}

.tab {
  font-size: 14pt;
  border: 1px solid #BBB6AD;
  background: #F1F1F1;
  margin-right: -1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative; bottom: -1px; z-index: 20;
  padding: 4pt 0pt 4pt 0pt;
}

.tabLabel {
  text-decoration: none;
  color: #444;
  padding: 4pt 6pt 4pt 18pt;
}

.tab:hover {
  margin-left: 5pt;
}

.tabCloser {
  font-size: 12px;
  visibility: hidden;
  position: relative;
  top: -9px;
  left: -2px;
  background: url("close-tab.png") top left no-repeat
}

.tabCloser img {
  visibility: hidden;
  vertical-align: text-top;
}

.closableTab:hover .tabCloser {
  visibility: visible;
}

.tabCloser:hover img {
  visibility: visible;
}

.activeTab {
  color: #E87500;
  background: white;
  border-bottom: 1px solid white;
}

.activeTab .tab-label {
  color: #E87500;
}

.page {
  border: 1px solid #BBB6AD;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  position: static; z-index: 10;
  clear: both;
}


.widget {
  background: white;
  border: 1px solid #BBB6AD;
  margin: 10pt 8pt;
  overflow: hidden;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.widgetTitle {
  background: #B5B0A7 url('title-bg.png');
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  width: 100%;
  font-weight: bold;
  padding-bottom: 4px;
}

.widgetTitle:hover {
  background: #bdb7ae url('title-bg-hover.png');
  vertical-align: middle;
}

.widgetButtons {
  display: none;
  float: right;
  padding-top: 0.3em;
  margin-right: 0.3em;
}

div.widgetTitle:hover .widgetButtons {
  display: inline;
}

.widgetLabel {
  font-size: 14pt;
  padding: 2px 0 0 10px;
  font-weight: normal;
  color: white;
  text-shadow: 1px 1px 2px #7E7363;
}

.widgetBody {
}

<%--***********************************************************************--%>
<%-- Portlets SHOULD use the CSS style definitions from this specification --%>
<%-- in order to participate in a uniform display of their content by      --%>
<%-- various Consumers.                                                    --%>
<%--***********************************************************************--%>

<%-- FONTS --%>

<%-- Font attributes for the "normal" fragment font. Used for the display
     of non-accentuated information. --%>
.portlet-font {
  font-family: Arial,Verdana,Arial,Helvetica,sans-serif;
  font-size: 12pt;
}

<%-- Font attributes similar to the portlet-font but the color is lighter. --%>
.portlet-font-dim {
  font-family: Arial,Verdana,Arial,Helvetica,sans-serif;
  font-size: 12pt;
  color: #808080;
}

<%-- MESSAGES --%>

<%-- Status of the current operation --%>
.portlet-msg-status {
}

<%-- Help messages, general additional information, etc. --%>
.portlet-msg-info {
}

<%-- Error messages --%>
.portlet-msg-error {
}

<%-- Warning messages --%>
.portlet-msg-alert {
}

<%-- Verification of the successful completion of a task. --%>
.portlet-msg-status {
}

